

<button ng-click="toggleModal()" class="btn btn-success">Add Albums</button>

<p class="text-center" ng-show="loading"><span class="fa fa-meh-o fa-5x fa-spin"></span></p>

<table id="mytable" class="table table-striped table-bordered"  data-ng-controller="AlbumsCtrl">
	<thead>
		<tr>
			<th id="yw4_c0">#</th>
			<th id="yw4_c1">Title Albums</th>
			<th id="yw4_c2">Date Albums</th>
			<th id="yw4_c3">First Name Artist</th>
			<th id="yw4_c4">Last Name Artist</th>
			<th id="yw4_c4">Rol Artist</th>
			<th class="button-column" id="yw4_c5">Actions</th>

		</tr>
	</thead>
	<tbody>

	<tr ng-repeat="album in albums">
			<td style="width: 60px">{{album.id_albums}}</td>
			<td>{{album.title_albums}}</td>
			<td>{{album.date_albums}}</td>
			
			<td ng-repeat="art in album.artist" ng-if="art.first_name != null">
				{{art.first_name}}
			</td>
			
			<!--<td ng-repeat="art in album.artist">




				<p ng-if="art.length===0"></p>
				<p ng-if="art.length!=0">asdasd</p>
				<p ng-if="!art.first_name">asdasd</p>
				<p ng-if="art.first_name">{{art.first_name}}</p>
			</td>-->
			<td ng-repeat="art in album.artist" ng-if="art.first_name == null">
				asd
			</td>
			<td ng-repeat="art in album.artist" ng-if="art.first_name != null">
				{{art.first_name}}
			</td>

			<td ng-repeat="art in album.artist" ng-if="art.last_name == null">asdasd</td>
			<td ng-repeat="art in album.artist" ng-if="art.last_name != null">{{art.last_name}}</td>


			<td ng-repeat="art in album.artist" ng-if="art.rol_artist == null">asdasd</td>
			<td ng-repeat="art in album.artist" ng-if="art.rol_artist != null">{{art.rol_artist}}</td>

			<td>
				<button class="btn btn-primary btn-xs" data-target="#edit" ng-click="showAlbums(album.id_albums)" data-toggle="modal" data-title="Edit">
					<span class="glyphicon glyphicon-eye-open"></span>
				</button>
			</td>
			<!--<td>
				<button class="btn btn-success btn-xs" data-target="#edit" data-toggle="modal" data-title="Edit">
					<span class="glyphicon glyphicon-pencil"></span>
				</button>
			</td>-->
			<td>
				<button class="btn btn-danger btn-xs" data-target="#delete" data-toggle="modal" data-title="Delete" ng-click="deleteAlbum(album.id_albums)">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</td>
		</tr>


	</tbody>
</table>

<modal title="Add Albums" visible="showModal">
					<form role="form" ng-submit="submitAlbums()">
						<div class="form-group">
						<input type="text" class="form-control input-lg" name="title_albums" ng-model="albumData.title_albums" placeholder="Name">
						</div>
						<div class="form-group">
							<input type="text" class="form-control input-lg" datetime="yyyy-MM-dd" ng-model="albumData.date_albums" datetime-model="yyyy-MM-dd" placeholder="Add Date">
						</div>

						<div class="form-group">
						<input type="text" class="form-control input-lg" name="first_name" ng-model="artistData.first_name" placeholder="Firstname Artist">
						</div>
						<div class="form-group">
							<input type="text" class="form-control input-lg" name="last_name" ng-model="artistData.last_name" placeholder="Lastname Artist">
						</div>
						<div class="form-group">
							<input type="text" class="form-control input-lg" name="rol_artist" ng-model="artistData.rol_artist" placeholder="Role Artist">
						</div>
						
							<select class="form-control" name="id_album" ng-model="artistData.id_album">
								<option value="">SELECT...</option>
								<option value="1">Prueba</option>
								<option value="2">Prueba</option>
								<option value="3">Prueba</option>
								<option value="4">Prueba</option>
								<option value="5">Prueba</option>
								<option value="6">Prueba</option>
								<option value="7">Prueba</option>
								<option value="8">Prueba</option>
								<option value="9">Prueba</option>
								<option value="10">Pruebad</option>
							</select>
							<!--<input type="text" class="form-control input-lg" name="id_album" ng-model="artistData.id_album" placeholder="Say what you have to say">-->
						<br>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</modal>

