

<button ng-click="toggleModal()" class="btn btn-success">Add Artist</button>

<p class="text-center" ng-show="loading"><span class="fa fa-meh-o fa-5x fa-spin"></span></p>

<table id="mytable" class="table table-striped table-bordered"  data-ng-controller="ArtistCtrl">
	<thead>
		<tr>
			<th id="yw4_c0">#</th>
			<th id="yw4_c1">first_name</th>
			<th id="yw4_c2">last_name</th>
			<th id="yw4_c3">rol_artist</th>
			<th id="yw4_c4">title_albums</th>
			<th id="yw4_c4">date_albums</th>
			<th class="button-column" id="yw4_c5">Actions</th>

		</tr>
	</thead>
	<tbody>

	<tr ng-repeat="art in artist">
			<td style="width: 60px">{{art.id_artist}}</td>
			<td>{{art.first_name}}</td>
			<td>{{art.last_name}}</td>
			<td>{{art.rol_artist}}</td>
			<td ng-repeat="alb in art.albums" ng-if="alb.length == 0">
				asd
			</td>
			<td ng-repeat="alb in art.albums" ng-if="alb.title_albums != null">
				{{alb.title_albums}}
			</td>

			<td ng-repeat="alb in art.albums" ng-if="alb.date_albums == null">asdasd</td>
			<td ng-repeat="alb in art.albums" ng-if="alb.date_albums != null">{{alb.date_albums}}</td>


			<!--<td ng-repeat="alb in artist.album" ng-if="alb.rol_artist == null">asdasd</td>
			<td ng-repeat="alb in artist.album" ng-if="alb.rol_artist != null">{{art.rol_artist}}</td>-->

			<td>
				<button class="btn btn-primary btn-xs" data-target="#edit" ng-click="showArtist(art.id_artist)" data-toggle="modal" data-title="Edit">
					<span class="glyphicon glyphicon-eye-open"></span>
				</button>
			</td>
			<!--<td>
				<button class="btn btn-success btn-xs" data-target="#edit" data-toggle="modal" data-title="Edit">
					<span class="glyphicon glyphicon-pencil"></span>
				</button>
			</td>-->
			<td>
				<button class="btn btn-danger btn-xs" data-target="#delete" data-toggle="modal" data-title="Delete" ng-click="deleteArtist(art.id_artist)">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</td>
		</tr>


	</tbody>
</table>

<modal title="Add Artist" visible="showModal">
					<form role="form" ng-submit="submitArtist()">
						<div class="form-group">
						<input type="text" class="form-control input-lg" name="first_name" ng-model="artistData.first_name" placeholder="Firstname Artist">
						</div>
						<div class="form-group">
							<input type="text" class="form-control input-lg" name="last_name" ng-model="artistData.last_name" placeholder="Lastname Artist">
						</div>
						<div class="form-group">
							<input type="text" class="form-control input-lg" name="rol_artist" ng-model="artistData.rol_artist" placeholder="Role Artist">
						</div>
						
							<select class="form-control" name="id_album" ng-model="artistData.id_album">
								<option value="">SELECT...</option>
								<option value="1">Prueba</option>
								<option value="2">Prueba</option>
								<option value="3">Prueba</option>
								<option value="4">Prueba</option>
								<option value="5">Prueba</option>
								<option value="6">Prueba</option>
								<option value="7">Prueba</option>
								<option value="8">Prueba</option>
								<option value="9">Prueba</option>
								<option value="10">Pruebad</option>
							</select>
							<br>
							<!--<input type="text" class="form-control input-lg" name="id_album" ng-model="artistData.id_album" placeholder="Say what you have to say">-->
						
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</modal>

